<div style="margin: 50px;">

  <div class="table-responsive">          
    <table class="table table-borderless">
      <tbody>
        <tr>
          <td width="40"><p-skeleton height="1.3rem"></p-skeleton></td>
          <td><p-skeleton height="1.3rem"></p-skeleton></td>
          <td><p-skeleton height="1.3rem"></p-skeleton></td>
          <td><p-skeleton height="1.3rem"></p-skeleton></td>
          <td><p-skeleton height="1.3rem"></p-skeleton></td>
        </tr>
        <tr>
          <td width="40"><p-skeleton height="1.3rem"></p-skeleton></td>
          <td><p-skeleton height="1.3rem"></p-skeleton></td>
          <td><p-skeleton height="1.3rem"></p-skeleton></td>
          <td><p-skeleton height="1.3rem"></p-skeleton></td>
          <td><p-skeleton height="1.3rem"></p-skeleton></td>
        </tr>
        <tr>
          <td width="40"><p-skeleton height="1.3rem"></p-skeleton></td>
          <td><p-skeleton height="1.3rem"></p-skeleton></td>
          <td><p-skeleton height="1.3rem"></p-skeleton></td>
          <td><p-skeleton height="1.3rem"></p-skeleton></td>
          <td><p-skeleton height="1.3rem"></p-skeleton></td>
        </tr>
        <tr>
          <td width="40"><p-skeleton height="1.3rem"></p-skeleton></td>
          <td><p-skeleton height="1.3rem"></p-skeleton></td>
          <td><p-skeleton height="1.3rem"></p-skeleton></td>
          <td><p-skeleton height="1.3rem"></p-skeleton></td>
          <td><p-skeleton height="1.3rem"></p-skeleton></td>
        </tr>
        <tr>
          <td width="40"><p-skeleton height="1.3rem"></p-skeleton></td>
          <td><p-skeleton height="1.3rem"></p-skeleton></td>
          <td><p-skeleton height="1.3rem"></p-skeleton></td>
          <td><p-skeleton height="1.3rem"></p-skeleton></td>
          <td><p-skeleton height="1.3rem"></p-skeleton></td>
        </tr>
        <tr>
          <td width="40"><p-skeleton height="1.3rem"></p-skeleton></td>
          <td><p-skeleton height="1.3rem"></p-skeleton></td>
          <td><p-skeleton height="1.3rem"></p-skeleton></td>
          <td><p-skeleton height="1.3rem"></p-skeleton></td>
          <td><p-skeleton height="1.3rem"></p-skeleton></td>
        </tr>
        <tr>
          <td width="40"><p-skeleton height="1.3rem"></p-skeleton></td>
          <td><p-skeleton height="1.3rem"></p-skeleton></td>
          <td><p-skeleton height="1.3rem"></p-skeleton></td>
          <td><p-skeleton height="1.3rem"></p-skeleton></td>
          <td><p-skeleton height="1.3rem"></p-skeleton></td>
        </tr>
        <tr>
          <td width="40"><p-skeleton height="1.3rem"></p-skeleton></td>
          <td><p-skeleton height="1.3rem"></p-skeleton></td>
          <td><p-skeleton height="1.3rem"></p-skeleton></td>
          <td><p-skeleton height="1.3rem"></p-skeleton></td>
          <td><p-skeleton height="1.3rem"></p-skeleton></td>
        </tr>
  
      </tbody>
    </table>
</div>
