<div >
  <div >
    <form>
      <div class="wrapper m-auto ">
          <div class="info-wrapper">
              <div class="info-img m-auto">
                <p-skeleton shape="circle" size="150px"></p-skeleton>
                  <!-- <img [src]="userPhoto" class="img-fluid" alt="personal photo"> -->
                  
              </div>
              <br>
              <br>
              <br>
              <div>
                  <div class="row">
                    <div class="col-md-6">
                      <div style="margin-bottom: 10px;">
                        <p-skeleton width="7rem" height="1.5rem"></p-skeleton>
                      </div>
                      <p-skeleton height="1.8rem"></p-skeleton>
                    </div>
                    <br>
                    <div class="col-md-6">
                      <div style="margin-bottom: 10px;">
                        <p-skeleton width="7rem" height="1.5rem"></p-skeleton>
                      </div>
                      <p-skeleton height="1.8rem"></p-skeleton>
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-md-6">
                      <div style="margin-bottom: 10px;">
                        <p-skeleton width="7rem" height="1.5rem"></p-skeleton>
                      </div>
                      <p-skeleton height="1.8rem"></p-skeleton>
                    </div>
                    <br>
                    <div class="col-md-6">
                      <div style="margin-bottom: 10px;">
                        <p-skeleton width="7rem" height="1.5rem"></p-skeleton>
                      </div>
                      <p-skeleton height="1.8rem"></p-skeleton>
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-md-6">
                      <div style="margin-bottom: 10px;">
                        <p-skeleton width="7rem" height="1.5rem"></p-skeleton>
                      </div>
                      <p-skeleton height="1.8rem"></p-skeleton>
                    </div>
                    <br>
                    <div class="col-md-6">
                      <div style="margin-bottom: 10px;">
                        <p-skeleton width="7rem" height="1.5rem"></p-skeleton>
                      </div>
                      <p-skeleton height="1.8rem"></p-skeleton>
                    </div>
                  </div>
              </div>
              
          </div>
      </div>   
    </form>
  </div>   
</div>