<div class="carous">
  <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active ">
        <img src="https://res.cloudinary.com/dcvsgcruf/image/upload/v1646150794/Hero-section-img_awxicr.jpg" class="d-block w-100" alt="..."> 
        <div class=" container">
          <div  class="row justify-content-start" >
            <div class="d-none d-md-block">
                <h2 class="fs-2 text-white ">Explore Your <span class="d-block"> Technical Writing </span> <span class="d-block"> Skills With </span></h2>
                <h1>DecaBlog</h1>
                <button 
                *ngIf="!isUserLoggedIn()" (click)="modalService.open('login')"
                class="btn btn-secondary me-2 p-3 mb-4 text-white"><h3 class="fs-3 text-white">Post An Article</h3>
              </button>
                <button 
                *ngIf="isUserLoggedIn()" [routerLink]="['/article', 'new']"
                class="btn btn-secondary me-2 p-3 mb-4 text-white"><h3 class="fs-3 text-white">Post An Article</h3>
              </button>
            </div>
      </div>
      </div>
      </div>
      <div class="carousel-item">
        <img src="https://res.cloudinary.com/dcvsgcruf/image/upload/v1646150605/Hero-section-img2_orq3cc.jpg" class="d-block w-100" alt="...">
        <div class=" container">
          <div  class="row justify-content-start" >
            <div class="d-none d-md-block">
                <h2 class="fs-2 text-white ">Explore Your <span class="d-block"> Technical Writing </span> <span class="d-block"> Skills With </span></h2>
                <h1>DecaBlog</h1>
                <button 
                *ngIf="!isUserLoggedIn()" (click)="modalService.open('login')"
                class="btn btn-secondary me-2 p-3 mb-4 text-white"><h3 class="fs-3 text-white">Post An Article</h3>
              </button>
                <button 
                *ngIf="isUserLoggedIn()" [routerLink]="['/article', 'new']"
                class="btn btn-secondary me-2 p-3 mb-4 text-white"><h3 class="fs-3 text-white">Post An Article</h3>
              </button>
            </div>
      </div>
      </div>
      </div>
      <div class="carousel-item">
        <img src="https://res.cloudinary.com/dcvsgcruf/image/upload/v1646150605/Hero-section-img4_k80kgv.jpg" class="d-block w-100" alt="...">
        <div class="container">
          <div class="row">
            <div class="d-none d-md-block">
              <h2 class="fs-2 text-white ">Explore Your <span class="d-block"> Technical Writing </span> <span class="d-block"> Skills With </span></h2>
              <h1>DecaBlog</h1>
              <button 
              *ngIf="!isUserLoggedIn()" (click)="modalService.open('login')"
              class="btn btn-secondary me-2 p-3 mb-4 text-white"><h3 class="fs-3 text-white">Post An Article</h3>
            </button>
            <button 
            *ngIf="isUserLoggedIn()" [routerLink]="['/article', 'new']"
            class="btn btn-secondary me-2 p-3 mb-4 text-white"><h3 class="fs-3 text-white">Post An Article</h3>
          </button>
          </div>
          </div>
        </div>
      </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span> -->
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <!-- <span class="carousel-control-next-icon" aria-hidden="true"></span> -->
      <span class="visually-hidden">Next</span>
    </button>

    <div class="carousel-indicators">
      <button type="button" data-bs-target="carouselExampleIndicators" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
    </div>
    </div>
</div>
