
.search-bar {
    position: relative;
}

.search-bar input {
    border: 1px solid #DFE0EB;
    border-radius: 32px;
    padding-left: 40px;
    width: 200px;
    height: 40px;
}
.search-bar input:focus{
    box-shadow: none;
    outline: 0 none;
}
.search-bar .iconify {
    position: absolute;
    left: 15px;
    top: 1px;
    color: #9A9A9D;
    font-size: 19px;
}