<div class="container-fluid">
    <div class="row">
        <div class="twPc-div">
            <a class="twPc-bg twPc-block" id="bg"></a>

            <div>
                <div class="twPc-button">
                    <button class="btn btnTertiary"><span class="iconify" data-icon="bi:camera-fill"></span> Edit Cover Photo</button>
                </div>

                <div id="avatar" *ngIf="result.PhotoUrl; ngIfElse elseWhat">
                    <a title={{result?.FirstName}} href="https://twitter.com/mertskaplan" class="twPc-avatarLink">
                        <img alt={{result?.FirstName}} src="{{result?.PhotoUrl}}" class="twPc-avatarImg img-fluid" />
                        <!-- <img alt={{result?.FirstName}} src="./assets/images/profile-ig.jpg" class="twPc-avatarImg img-fluid" #elseWhat /> -->
                    </a>
                </div>

                <div class="flex" id="stack">
                    <div class="twPc-divUser">
                        <div class="twPc-divName" *ngIf="result.Stack; ngIfElse elseWhat">
                            <a href="#"><span>{{result?.FirstName + " " + result?.LastName}}</span></a>
                            <p class="small">{{result?.Stack}} {{result?.Squad}}</p>
                        </div>

                        <div class="twPc-divName mt-3" #elseWhat>
                            <a href="#"><span>{{result?.FirstName + " " + result?.LastName}}</span></a>
                        </div>
                    </div>
    
                    <div class="follow">
                        <div class="btn btnTertiary flex">
                            <div>
                                <span class="iconify" data-icon="bxs:user-plus"></span>
                            </div>
                            <small class="text bold ml-1">300<br/> Followings</small>
                        </div>
                    </div>
                    <div class="follow">
                        <div class="btn btnTertiary flex">
                            <div>
                                <span class="iconify" data-icon="bxs:user-plus"></span>
                            </div>
                            <small class="text bold ml-1">600<br/> Followers</small>
                        </div>
                    </div>
                </div>                

                <div class="twPc-divStats float-right">
                    <button 
                        class="btn btnTertiary" 
                        *ngIf="canEdit"
                        routerLink="/account/profile"
                    >
                        <span class="iconify" data-icon="akar-icons:edit"></span> Edit Profile</button>
                </div>
            </div>
        </div>
    </div>
</div>