<div class="container-fluid bg-dark text-white text-left p-5">
    <div class="row">
        <div class="first col-sm-6 col-md-6">
            <input class="box" id="" type="text"/>
            <p class="bodytext center-text">
              Decagon institute is an elite software engineering and leadership training school that equips high potential individuals with world-class software engineering skills.
              Experience practical learning through real-life projects and internship placements over a six-month period.
            </p>
        </div>
    
        <div class="col-sm-2 col-md-2">
          <div class="second center-text">
            <h5> Navigation</h5>
            <h5> Membership </h5>
            <h5> Subscription</h5>
          </div>
        </div>
    
        <div class="col-sm-2 col-md-2">
          <div class="third center-text">
            <h5> Follow Us</h5>
            <h5> Instagram </h5>
            <h5> Twitter </h5>
            <h5> Facebook </h5>
          </div>
        </div>
    
        <div class="col-sm-2 col-md-2">
          <div class="fourth center-text">
            <h5> Terms and Policies </h5>
            <h5> Privacy and Policy </h5>
          </div>
        </div>
    </div>    
  </div>