<div class="top-bar">
  <div class="header d-flex justify-content-between">
    <div class="page-title">
        <span class="iconify" data-icon="ic:outline-auto-stories"></span>
          Users Contributions
    </div>
    <div class="page-tools d-inline-block">
      <app-invitee-search-bar></app-invitee-search-bar>
        <button class="btn"><span class="iconify" data-icon="fa-solid:sort-amount-up"></span>Sort</button>
        <button class="btn"><span class="iconify" data-icon="fa:filter" ></span>Filter</button>
    </div>
  </div>
</div>
