<div class="modal right fade" id="commentView" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="commentViewLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="commentViewLabel">Comments({{comments.length}})</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <app-add-comment (onCommentAdded) = "processCommentAddedEvent()"></app-add-comment>
            </div>
            <div *ngFor="let comment of comments" class="modal-body comment-card">
                <app-comment [comment]="comment"></app-comment>
            </div>
        </div>
    </div>
</div>