<div class="row m-3" style="width: 100%;">
  <!--Start of header section-->
  <div class="row m-3 user-table">
    <div class="col-sm-6 d-flex">
      <!-- <i class="fa fa-user my-auto fs-4 p-2"></i> -->
      <img src="../../../../../../assets/images/topics-logo.png" alt="topics  logo">
      <h1 class="fs-4 my-auto">Articles Topics</h1>
    </div>
    <div class="col-sm-6 search-sort my-auto">
      <!-- <app-user-search-bar [pageData]="pageData"  (searchResult)="initializeSearchResults($event)" (loading)="loading = $event"></app-user-search-bar> -->
    </div>
    <!--End of header section-->
  </div>
  <!-- <div *ngIf="loading">Loading users ...</div> -->
  
  <!--Start of User Table Section--> 
  <div class="row mt-3">
    <p-progressBar mode="indeterminate" [style]="{height: '4px'}" *ngIf="loading"></p-progressBar>
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col-2">Topic</th>
            <th scope="col-3 text-muted">Contributions</th>
            <th scope="col-2 text-muted">Category</th>
            <th scope="col-2 text-muted">Date</th>
            <th scope="col-1"></th>
          </tr>
        </thead>
        <!-- <tbody *ngIf="!!searchResults"> -->
          <tbody>
          <tr class="my-auto"  *ngFor="let topic of topics" >
            <td class="col-3  img-text" >
              <div class="d-flex align-items-center">
                <div class="t-img"><img src="{{topic.CoverPhotoUrl? topic.CoverPhotoUrl : defaultImg}}" alt="topic-image"></div>
                <div class="title" title="{{topic.Topic}}" >{{topic.Topic}}</div>
              </div>
            </td>
            <td class="col-4 align-middle name">{{topic.Countributions}}</td>
            <td class="col-2 align-middle stack-squad">Frontend</td>
            <td class="col-2 align-middle stack-squad">
              {{topic.DateCreated | date }} <span>{{topic.DateCreated | date: 'shortTime'}}</span>
            </td>
            <td class="col-1 align-middle mx-auto my-auto">
              <action-drop-down [dropdownData]="actionAdata" [actionData]="topic.TopicId"></action-drop-down>
            </td>
          </tr>
        </tbody>
      </table>

      <!--Pagination-->
    
    </div>
  </div>
  <!--End of Div Table-->
</div>
