
.wrapper {
    height: 100%;
    width: 100%;
    padding: 31px 65px;
    border-radius: 8px;
    background: #FFFFFF;
    border: 1px solid #DFE0EB;
}

.column {
    width: 100%;
  }

  @media (min-width: 600px) {
    .column {
      width: 50%;
    }
  }

.form-control{
    margin: -5px 2px 5px -1px;
}
  
.info-img {
    height: 128px;
    width: 128px;
}
/* .info-details{
    width: 544px;
} */
.label {
    font-size: 14px;
    margin-bottom: 0px;
    color: #222222;
}
.detail {
    background-color: #E5E5E5;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 1rem;
    min-height: 36px;
    font-weight: 700;
}
.buttons {

    column-gap: 10px;

}



.btn.btnPrimary {

    background-image: linear-gradient(86.41deg, #34A853 49.38%, #B8D344 98%);
    margin: 34px;
    color: white;
    box-shadow: 0px 4px 32px rgba(52, 168, 83, 0.08);

}



.btn.btnTertiary{

    background-color: #F3F3F3;
    margin: 34px;
    box-shadow: 0px 4px 32px rgba(52, 168, 83, 0.08);

}

.btn.btnTertiary:hover{

    background-color: #000000;

    color: #F3F3F3;

}

