<div class="home-style">
    <app-signup id="app-signup"></app-signup>
    <app-hero-section></app-hero-section>
    <div class="container-fluid ">
        <div class="row pt-3">
            <div class="col-md-9 articles">
                <div class="row">
                    <div class="col-md-12 nopadding"><app-featured-users></app-featured-users></div>
                </div>      
                <div class="row">
                    <div class="col-md-12 nopadding"><app-post></app-post></div>
                </div>   
            </div>
            <div class="col-md-3" style="border-left: 0.5px solid #ddd;">
                <app-popularArticle></app-popularArticle>
            </div>
        </div>
    </div>
</div>