
<div class="deca-password-modal">
    <div class="deca-password-modal-container">
        <div class="deca-sm-container">
            <h1 class="deca-password-text">Change Password</h1>
        </div>
        <div>
            <form [formGroup]="passwordForm" class="deca-passord-form"(ngSubmit)="changePassword()">
                <span>Current Password<span class="deca-required">*</span></span> <br>
                <div class="deca-password-input-div">
                    <div class="deca-form-input">
                        <input formControlName="currentPassword" type="password" [type]="oldhide ?'password':'text'" >
                        <i class="deca-eye2 deca-login-fa" (click)="oldhide=!oldhide"><img class="deca-img-fa" src="/assets/images/{{oldhide?'eye-slash-solid.svg':'eye-solid.svg'}}"></i>
                    </div>                   
                </div>
                <div class="password-error" *ngIf="isFormSubmitted && passwordForm.controls.currentPassword.invalid">
                    <p class="text-danger" style="font-size: 12px;" *ngIf="passwordForm.controls.currentPassword.errors.required">field is required</p>
                  </div>
                <span>New Password<span class="deca-required">*</span></span> <br>
                <div class="deca-password-input-div">
                    <div class="deca-form-input">
                        <input formControlName="newPassword" type="password" [type]="newhide ?'password':'text'" >
                        <i class="deca-eye2 deca-login-fa" (click)="newhide=!newhide"><img class="deca-img-fa" src="/assets/images/{{newhide?'eye-slash-solid.svg':'eye-solid.svg'}}"></i>
                    </div>                    
                </div>
                <div class="password-error" *ngIf="isFormSubmitted && passwordForm.controls.newPassword.invalid">
                    <p class="text-danger" style="font-size: 12px;" *ngIf="passwordForm.controls.newPassword.errors.required">field is required</p>
                    <p class="text-danger" style="font-size: 12px;" *ngIf="passwordForm.controls.newPassword.errors.mustNotMatch">Password has been previously used</p>
                    <p class="text-danger" style="font-size: 12px;" *ngIf="passwordForm.controls.newPassword.errors.pattern">Your password must contain at least one uppercase,<br> one lowercase, and one number</p>
                  </div>
                <span>Confirm Password<span class="deca-required">*</span></span> <br>
                <div class="deca-password-input-div">
                    <div class="deca-form-input">
                        <input formControlName="confirmPassword" type="password" [type]="confirmhide ?'password':'text'" >
                        <i class="deca-eye2 deca-login-fa" (click)="confirmhide=!confirmhide"><img class="deca-img-fa" src="/assets/images/{{confirmhide?'eye-slash-solid.svg':'eye-solid.svg'}}"></i>
                    </div>                    
                </div>
                <div class="password-error" *ngIf="isFormSubmitted && passwordForm.controls.confirmPassword.invalid">
                    <p class="text-danger" style="font-size: 12px;" *ngIf="passwordForm.controls.confirmPassword.errors.mustMatch">Password must match</p>
                  </div>
                  <div class="passord-container">
                    <button type="submit" class="deca-btn-password" *ngIf="!loading">Change Password</button>
                    <button class="deca-btn-loading" *ngIf="loading"><Img src="../../../../assets/_loaders/Spinner-5.gif" /></button>
                  </div>
                
            </form>
        </div>
    </div>
</div>