.deca-password-modal-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 512px;
    height: 559px;
    margin: auto;
    background-color: #Ffff;
    font-family: Mulish;
    padding-top: 50px ;
    padding-bottom: 150px;
    position: relative;
}
.deca-password-text{
    font-weight: 800;
    font-size: 32px;
    line-height: 40.16px;
    color: #373B56;
}
.deca-password-input-div{
    margin-bottom: 10px;
}
.deca-btn-password{
    color: #Ffff;
    background: var(--green-gradient);
    border-radius: 4px;
    width: 50%;
    height: 43px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}
.password-error{
    margin: 0%;
    padding: 0%;
}
.deca-passord-form button{
    align-self: center;
}
.passord-container{
    display: flex;
    justify-content: flex-end;
}